.Button{
    background-color: #FF9617;
    border: none;
    border-radius: 61px;
    font-family: 'Ubuntu',sans-serif;
    margin: 0% 0% 0% 3%;
    padding: 0% 5%;
    cursor: pointer;
    /* font-size: large; */
    /* padding: 15px 50px; */
    /* align-self:center;
    line-height: normal; */
    /* padding: 14px 40px ;
    display: inline-block; */
}

.Button:hover{
    background-color: #d47b0e;
    /* color:#fff; */
}
.ButtonLogin{
    background-color: #FF9617;
    border: none;
    border-radius: 61px;
    font-family: 'Ubuntu',sans-serif;
    margin: 0% 0% 0% 3%;
    padding: 0% 5%;
    cursor: pointer;
    font-size: large;
    padding: 15px 50px;
    /* align-self:center;
    line-height: normal; */
    /* padding: 14px 40px ;
    display: inline-block; */
}

.ButtonLogin:hover{
    background-color: #d47b0e;
    /* color:#fff; */
}
.Close{
    position: absolute;
    /* top: px; */
    right: 30px;
    cursor: pointer;
    border: none;
    background:inherit;

    
}
.ButtonFile{
    /* position: absolute; */
    /* left: 20%; */
}




/* .Button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */