.Title {
    margin:2% 10% 0% 10%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;

}
h1{
    font-size: 248%;
}
.right{
    position: absolute;
    bottom: 25%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.Left{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}