.OverlayLogin{
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LoginContainer{
    width: 25%;
    height: 50%;
    background: #f4f4f4;
    position: relative;
    border-radius: 114px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;

    /* position: absolute;
    width: 511px;
    height: 517px;
    left: 465px;
    top: 269px;
    
    background: #F4F4F4;
    border-radius: 114px; */
}
.ModalBody{
    align-items: center;
    text-align: center;
}
.ModalTitle{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid #E8E8E8;
    /* padding: 2%; */
}
.ModalBody input{
    background-color: #D9D9D9;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 55%;
    /* border: 2px solid #f6f6f6; */
    border-radius: 5px 5px 5px 5px;
    outline: none;
}
.ModalBody input[type=email]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #FF9617;

}  
.ModalBody input[type=email]:placeholder, input[type=password]:placeholder {
    color: #cccccc;
  }
.Modalright{
    position: absolute;
    bottom: 25%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}